footer {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 32px;

  background-color: #A69ABA;
}

footer p {
  color: white;
  line-height: 1.5;
  font-size: 1.1rem;
}

footer p:last-of-type {
  text-align: right;
}

footer h2 {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}