.headerInfo h2 {
  width: fit-content;
  margin: 0;
  padding: 8px 48px;

  background-image: url("../../assets/images/trapezeBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-size: 1.2rem;
  color: #ffffff;
}

.headerInfo {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.headerInfo a {
  height: 32px;
  width: 80px;

  background-image: url("../../assets/images/trapezeBackground.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.headerInfo img {
  display: block;
  margin: 0 auto;
}
