@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.listItem {
    display: flex;
    align-items: center;
    width: 1000px;
    min-height: 80px;

    padding: 0 16px;
    overflow-y: hidden;

    background-color: white;

    &:hover {
        background-color: #FDFBFF;
    }

    h3 {
        font-family: 'inter', sans-serif ;
        font-size: 24;
    }
}
